Repository TakedaLab/B4Lecture-2025, pull requests merged in 2025-05, with the labels that each got.

#9 木下竣太 EX1 解答 Python
  ex1/d_Kinoshita/Figures.png
  ex1/d_Kinoshita/audio.wav
  ex1/d_Kinoshita/main.py
  ex1/d_Kinoshita/reconstructed.wav
Labels: EX1

#18 石川雄斗 EX2 解答 python
  ex2/y_ishikawa/.gitignore
  ex2/y_ishikawa/audio.wav
  ex2/y_ishikawa/main.py
  ex2/y_ishikawa/pyproject.toml
  ex2/y_ishikawa/requirements.txt
  ex2/y_ishikawa/results/filtered_audio.wav
  ex2/y_ishikawa/results/result.png
  ex2/y_ishikawa/stft.py
  ex2/y_ishikawa/window.py
Labels: EX2

#23 Add ex5
  ex3/README.md
  ex4/README.md
  ex4/data1.csv
  ex4/data2.csv
  ex4/data3.csv
  ex5/README.md
  ex5/data1.csv
  ex5/data2.csv
  ex5/data3.csv
Labels: EX3, EX4, EX5

#19 二神匠 EX2 解答 python
  ex2/t_futagami/audio/audio.wav
  ex2/t_futagami/audio/audio_BEF.wav
  ex2/t_futagami/audio/audio_BPF.wav
  ex2/t_futagami/audio/audio_HPF.wav
  ex2/t_futagami/audio/audio_LPF.wav
  ex2/t_futagami/figs/BEF.png
  ex2/t_futagami/figs/BPF.png
  ex2/t_futagami/figs/HPF.png
  ex2/t_futagami/figs/LPF.png
  ex2/t_futagami/main.py
  ex2/t_futagami/spectrogram.py
Labels: EX2

#20 DEPONTES EX2 解答 python
  ex2/m_depontes/case1-ref.wav
  ex2/m_depontes/figs/bpf_amplitude_response.png
  ex2/m_depontes/figs/bpf_phase_response.png
  ex2/m_depontes/figs/bpf_spectrogram.png
  ex2/m_depontes/figs/bsf_amplitude_response.png
  ex2/m_depontes/figs/bsf_phase_response.png
  ex2/m_depontes/figs/bsf_spectrogram.png
  ex2/m_depontes/figs/hpf_amplitude_response.png
  ex2/m_depontes/figs/hpf_phase_response.png
  ex2/m_depontes/figs/hpf_spectrogram.png
  ex2/m_depontes/figs/lpf_amplitude_response.png
  ex2/m_depontes/figs/lpf_phase_response.png
  ex2/m_depontes/figs/lpf_spectrogram.png
  ex2/m_depontes/figs/original_spectrogram.png
  ex2/m_depontes/main.py
Labels: EX2

#25 照屋颯大 EX3 解答 python
  ex3/s_teruya/OLS.png
  ex3/s_teruya/OLSreg.png
  ex3/s_teruya/PCA_ax.png
  ex3/s_teruya/PCA_scatter.png
  ex3/s_teruya/data/data1.csv
  ex3/s_teruya/data/data2.csv
  ex3/s_teruya/data/data3.csv
  ex3/s_teruya/data/data4.csv
  ex3/s_teruya/desktop.ini
  ex3/s_teruya/kadai3_LR.py
  ex3/s_teruya/kadai3_PCA.py
  ex3/s_teruya/scatters.png
Labels: EX3

#28 照屋颯大 EX4 解答 python
  ex4/s_teruya/AIC&BIC.png
  ex4/s_teruya/data1.csv
  ex4/s_teruya/data2.csv
  ex4/s_teruya/data3.csv
  ex4/s_teruya/kadai4.py
  ex4/s_teruya/result1.png
  ex4/s_teruya/result2.png
  ex4/s_teruya/result2_fail.png
  ex4/s_teruya/result3.png
  ex4/s_teruya/result_bic.png
  ex4/s_teruya/scatters.png
Labels: EX4

#29 二神匠 EX3 解答 python
  ex3/t_futagami/fig/DimensionalityReduction.png
  ex3/t_futagami/fig/pca_plot/data1.png
  ex3/t_futagami/fig/pca_plot/data2.png
  ex3/t_futagami/fig/pca_plot/data3.png
  ex3/t_futagami/fig/regression_plot/data1.png
  ex3/t_futagami/fig/regression_plot/data2.png
  ex3/t_futagami/fig/regression_plot/data3.png
  ex3/t_futagami/fig/scatter_plot/data1.png
  ex3/t_futagami/fig/scatter_plot/data2.png
  ex3/t_futagami/fig/scatter_plot/data3.png
  ex3/t_futagami/linear_regression.py
  ex3/t_futagami/principal_component_analysis.py
Labels: EX3

#30 二神匠 EX4 解答 python
  ex4/t_futagami/figs/data1_GMM.png
  ex4/t_futagami/figs/data1_likelihood.png
  ex4/t_futagami/figs/data2_GMM.png
  ex4/t_futagami/figs/data2_likelihood.png
  ex4/t_futagami/figs/data3_GMM.png
  ex4/t_futagami/figs/data3_likelihood.png
  ex4/t_futagami/main.py
Labels: EX4

#36 TZIMAS EX3 解答 python
  ex3/i_tzimas/data1_lr.png
  ex3/i_tzimas/data1_pca.png
  ex3/i_tzimas/data1_scatter.png
  ex3/i_tzimas/data2_lasso.png
  ex3/i_tzimas/data2_lr.png
  ex3/i_tzimas/data2_ols.png
  ex3/i_tzimas/data2_pca.png
  ex3/i_tzimas/data2_scatter.png
  ex3/i_tzimas/data3_compressed.png
  ex3/i_tzimas/data3_lr.png
  ex3/i_tzimas/data3_pca.png
  ex3/i_tzimas/data3_scatter.png
  ex3/i_tzimas/kaiki.py
  ex3/i_tzimas/refs.txt
  ex3/i_tzimas/shuseibun.py
Labels: EX3

#49 石川雄斗 EX6 解答 python
  ex6/y_ishikawa/.gitignore
  ex6/y_ishikawa/hidden_markov_model.py
  ex6/y_ishikawa/pyproject.toml
  ex6/y_ishikawa/requirements.txt
  ex6/y_ishikawa/results/data1.png
  ex6/y_ishikawa/results/data2.png
  ex6/y_ishikawa/results/data3.png
  ex6/y_ishikawa/results/data4.png
Labels: EX6

#46 二神匠 EX5 解答 python
  ex5/t_futagami/GMMVB.py
  ex5/t_futagami/figs/data1.png
  ex5/t_futagami/figs/data1_HDI.png
  ex5/t_futagami/figs/data2.png
  ex5/t_futagami/figs/data2_HDI.png
  ex5/t_futagami/figs/data3.png
  ex5/t_futagami/figs/data3_HDI.png
  ex5/t_futagami/main.py
Labels: EX5

#44 石川雄斗 EX5 解答 python
  ex5/y_ishikawa/.gitignore
  ex5/y_ishikawa/GMMVB.py
  ex5/y_ishikawa/pyproject.toml
  ex5/y_ishikawa/requirements.txt
  ex5/y_ishikawa/results/data1_HDI.png
  ex5/y_ishikawa/results/data1_cluster.png
  ex5/y_ishikawa/results/data2_HDI.png
  ex5/y_ishikawa/results/data2_cluster.png
  ex5/y_ishikawa/results/data3_HDI.png
  ex5/y_ishikawa/results/data3_cluster.png
Labels: EX5

#42 DEPONTES EX5 解答 python
  ex5/m_depontes/figs/clusters_data1.png
  ex5/m_depontes/figs/clusters_data2.png
  ex5/m_depontes/figs/clusters_data3.png
  ex5/m_depontes/figs/hdi_data1.png
  ex5/m_depontes/figs/hdi_data2.png
  ex5/m_depontes/figs/hdi_data3.png
  ex5/m_depontes/main.py
Labels: EX5

#48 二神匠 E6 解答 python
  ex6/t_futagami/figs/data1_forward.png
  ex6/t_futagami/figs/data1_viterbi.png
  ex6/t_futagami/figs/data2_forward.png
  ex6/t_futagami/figs/data2_viterbi.png
  ex6/t_futagami/figs/data3_forward.png
  ex6/t_futagami/figs/data3_viterbi.png
  ex6/t_futagami/figs/data4_forward.png
  ex6/t_futagami/figs/data4_viterbi.png
  ex6/t_futagami/main.py
Labels: EX6

#34 木下竣太 EX4 解答 python
  ex4/d_kinoshita/data1_rawdata.png
  ex4/d_kinoshita/data2_rawdata.png
  ex4/d_kinoshita/data3_rawdata.png
  ex4/d_kinoshita/gmm_data1_loglikelihood.png
  ex4/d_kinoshita/gmm_data1_result.png
  ex4/d_kinoshita/gmm_data2_loglikelihood.png
  ex4/d_kinoshita/gmm_data2_result_clusters.png
  ex4/d_kinoshita/gmm_data3_loglikelihood.png
  ex4/d_kinoshita/gmm_data3_result_clusters.png
  ex4/d_kinoshita/main.py
Labels: EX4

#33 DEPONTES EX4 解答 python
  ex4/m_depontes/figs/log_likelihood_data1.png
  ex4/m_depontes/figs/log_likelihood_data2.png
  ex4/m_depontes/figs/log_likelihood_data3.png
  ex4/m_depontes/figs/result_data1.png
  ex4/m_depontes/figs/result_data2.png
  ex4/m_depontes/figs/result_data3.png
  ex4/m_depontes/figs/scatter_data1.png
  ex4/m_depontes/figs/scatter_data2.png
  ex4/m_depontes/figs/scatter_data3.png
  ex4/m_depontes/main.py
Labels: EX4
